@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

body{
	font-family: arial;
}
.container_menu {
	top: 0;
	left: 0;
	width:15%;
	position: absolute;
	height:100%;
	border-right: 1px solid #FFA500;
	background: #f0f0f0 url('/assets/img/menu_left.png') top left repeat-y;
	padding:5px
}

.content
{
  	position: relative;
	width: 70%;
	margin: auto;
	width:70%;
	display: block;
	height:50px;
	float: left;
}

#caballos, #aislamiento, #administracion, #transporte, #ganadero, #inicio
{
    background: #F8F8F8;
	width: 175px;
	height: 40px;
  	color: #888;
  	border: none;
	border-radius: 3px;
	padding: 0 0 0 10px;
  	font: bold 13px Helvetica, sans-serif;
  	text-transform: uppercase;
	line-height: 40px;
	cursor: default;
  	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
  	margin-bottom: 7px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
#caballos a:hover, #aislamiento a:hover, #administracion a:hover,
#transporte a:hover, #ganadero a:hover, #inicio a:hover
{
	background: red;

}
#menu, #menu_aislamiento, #menu_administracion, #menu_transporte,
#menu_ganadero
 { display: none; margin-bottom: 10px; }

#menu a, #menu_aislamiento a, #menu_administracion a, #menu_transporte a,#menu_ganadero a
{
	display: block;
	background: #C8C8C8;
	width: 175px;
  	height: 40px;
	padding: 0 0 0 10px;
	font: bold 13px Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
	line-height: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

#menu a:hover, #menu_aislamiento a:hover, #menu_administracion a:hover, #menu_transporte a:hover,
#menu_ganadero a:hover
{ color: red; }


#menu a:nth-child(2), #menu_aislamiento a:nth-child(2), #menu_administracion: a:nth-child(2),
#menu_transporte: a:nth-child(2),#menu_ganadero: a:nth-child(2)
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#menu a:last-child, #menu_aislamiento a:last-child, #menu_administracion a:last-child,
#menu_transporte a:last-child,#menu_ganadero a:last-child
{
  	border-bottom-left-radius: 3px;
	  border-bottom-right-radius: 3px;
}

#menu a:hover > .fa , #menu_aislamiento a:hover > .fa, #menu_administracion a:hover > .fa,
#menu_transporte  a:hover> .fa, #menu_ganadero a:hover > .fa { color: #555; }

#firstIcon, #secondIcon, #thirdIcon, #fourthIcon
{
  	position: absolute;
	margin-top: 10px;
	right: 0;
  	font-size: 20px;
	color: rgba(0, 0, 0, 0.4);
	opacity: 0.7;
}

#firstIcon { margin-right: 14px; }
#secondIcon { margin-right: 11px; }
#thirdIcon { margin-right: 11px; }
#fourthIcon { margin-right: 13px; }

#arrow, #arrow_aislamiento, #arrow_administracion, #arrow_transporte, #arrow_ganadero
{
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #F8F8F8;
  	margin-left: 15px;
}

#user {
	background-image: url('/assets/img/profile.png') ;
	position: relative;
	line-height: 40px;
	font-size: 12px;
	font-family: arial;
	width: 170px;
}

#user span {
	color: #ffaa56;

}