.container_elements {
	float: left;
	width: 75%;
 	top: 40px;
 	margin-left: 240px;

 	
}

#header_content{
	background: #FFA500;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 40px;
	line-height: 42px;
	padding-left: 10px;
	color: #FFFFFF;
}

/*input[type="text"], textarea, select {
  border: 1px solid #DBE1EB;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
}

input:hover[type="text"], textarea:hover, select:hover {
  color: #2E3133;
  border-color: #FBFFAD;
}*/
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.button:active {
	position:relative;
	top:1px;
}
/*  Button edit */

.button_save {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.button_save:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.button_save:active {
	position:relative;
	top:1px;
}

.button_clear {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F87777), color-stop(1, #FC1B1B) );
	background:-moz-linear-gradient( center top, #F87777 5%, #FC1B1B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F87777', endColorstr='#FC1B1B');
	background-color:#F87777;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #F87777;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.button_clear:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FC1B1B), color-stop(1, #F87777) );
	background:-moz-linear-gradient( center top, #FC1B1B 5%, #F87777 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC1B1B', endColorstr='#F87777');
	background-color:#FC1B1B;
}.button_clear:active {
	position:relative;
	top:1px;
}


button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

.alert_message {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
	background-repeat: repeat-x;
	border-color: #3c763d;
	color: #3c763d;
	font-size: 12px;
}

.error_message {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-image: linear-gradient(to bottom,#f2dede 0,#f2dede 100%);
	background-repeat: repeat-x;
	border-color: #ebccd1;
	color: #a94442;
	font-size: 12px;
}

#link a:link {
	color: green;
	text-decoration: none;
}

#link a:visited {
	color: green;
}

#link a:hover {
	color:#ffc477;
	text-decoration: underline;
}


#mas_matriculas a:link, #mas_choferes a:link, #mas_responsables: a:link {
	color: green;
	font-weight: bold;
	text-decoration: none;
}

#mas_matriculas a:hover, #mas_choferes a:hover, #mas_responsables: a:hover {
	color: #9dce2c;
	text-decoration: underline;
}
