body{
	font-family: arial;
	background: #f0f0f0 url('/assets/img/menu_nav.png') top left repeat-x;
}
.container_menu {
top: 0;
left: 0;
width:15%;
display: block;
position: absolute;
background-color:#b0e0e6;
height:100%;
border-right: 1px solid #FFA500;
}

.menu {
 width: auto;
 margin: 20px auto 0 auto;
}

ul, li {
 margin: 0; padding: 0;
}

#blob {

 border-right: 1px solid #FFA500;
 border-left: 1px solid #FFA500;
 position: absolute;
 top: 0;
 z-index : 1;
 background: #FFA500;
 background: -moz-linear-gradient(top, #FFA500, #FFFACD);
 background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#FFFACD));
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 2px 3px 10px #011331;
 -webkit-box-shadow: 2px 3px 10px #011331;

}

#nav {
 position: relative;
 background: #FF8C00;
 float: left;
}

#nav li {
 float: left;
 list-style: none;
 border-right: 1px solid #FFA500;
 border-left: 1px solid #FFA500;
}

#nav li a {
 color: #000000;
 position: relative;
 z-index: 2;
 float: left;
 font-size: 15px;
 font-family: helvetica, arial, sans-serif;
 text-decoration: none;
 padding: 10px 25px;
}

